<h1><%= @hairstylist.business_name %></h1>\
<h4>Contact information</h4>
<p>Location: <%= @hairstylist.address %></p>
<p>Phone number: <%= @hairstylist.phone_number %></p>

<h4>My available Timeslots:</h4>
<%#inserting timeslots%>
<%#inserting Booking button%>
