<h1><%= @hairstylist.business_name %></h1>
<img class="img-medium" src="https://booksy.com/biz/media/5599/download/shutterstock_2065702454%20(1)-min.jpg?v=1" alt="Hairstylist_image
">
<h4>Contact information</h4>
<p>Location: <%= @hairstylist.address %></p>
<p>Phone number: <%= @hairstylist.phone_number %></p>

<h4>My available Timeslots:</h4>
<%#inserting timeslots%>
<%#inserting Booking button%>

<button class="button-appointment" type="button">Book Appointment!</button>
