#big-box {
  display: flex;
  // grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  width: 65%;
}

#hairstylists-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  a {
    text-decoration: none;
  }
}

//index page css
.index_card {
  margin: 7px;
  box-shadow: rgb(226, 226, 226) 0px 0px 10px;
  border-radius: 10px;
}

.index_card_img {
  max-width: 100%;
  border-radius: 30px;
  padding: 20px;
}

.index_card_title {
  padding: 0px 20px;
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.index_card_subtitle>p {
  font-size: 15px;
  padding: 0px 20px;
  text-decoration: none;
  color: rgb(94, 94, 94);
}

// map
.map {
  width: 100%;
  height: calc(100vh - 122px);
  margin: 7px;
  box-shadow: rgb(226, 226, 226) 0px 0px 10px;
  border-radius: 10px;
  width: 34%;
  position: fixed;
  right: 5px;
}
