
<div class="show-main-box">
<h1 class="headline-font"><strong>New Booking for <%= @hairstylist.business_name %></h1></strong>
<%= simple_form_for [@hairstylist, @booking] do |f| %>
  <%= f.association :time_slot, collection: @time_slots, label_method: :time_format %>
  <%= f.submit "Submit Booking", class:"button-website" %>
<% end %>
</div>
