<nav class="navbar navbar-light bg-light d-flex justify-content-between">
  <div><img class="logo" src="https://static.vecteezy.com/system/resources/previews/007/243/101/non_2x/afro-hair-beauty-logo-free-vector.jpg" width="70" height="70" class="d-inline-block align-top" alt=""></div>
  <h1 class="abril-fatface-regular">HAIRVANA</h1>

  <div>
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, class: "btn btn-primary", data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to "Signup", new_user_registration_path, class: "btn btn-primary" %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</nav>
