<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<div class="container mt-4">
    <div class="p-5 mb-4 bg-light rounded-3">
  <table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr class="sticky-top">
    </div>


<div class="container text-center">
  <h2><strong>My Bookings</strong></h2>
  <table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr class="sticky-top">
    </div>
<table style="width:100%">
  <tr>
    <h2><th>Hairstylist</th></h2>
    <th>Date</th>
    <th>Time</th>
  </tr>
  <tr>
    <td>HairCare International</td>
    <td>25.02.2025</td>
    <td>10am</td>
  </tr>
  <tr>
    <td>Aicha Braids World</td>
    <td>18.02.2024</td>
    <td>2pm</td>
  </tr>
  <tr>
    <td>Jung's Place</td>
    <td>17.03.2024</td>
    <td>10:30am</td>
  </tr>
  <tr>
    <td>Ingos</td>
    <td>14.07.2024</td>
    <td>9:30am</td>
  </tr>
  <tr>
    <td>Aicha Braids World</td>
    <td>11.08.2023</td>
    <td>3:30pm</td>
  </tr>
</table>
</div>
