<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<div class="container mt-4">
    <div class="p-5 mb-4 bg-light rounded-3">
  <table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr class="sticky-top">
    </div>


<div class="container text-center">
  <h2><strong>My Bookings</strong></h2>
  <table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr class="sticky-top">
    </div>
<table style="width:100%">
  <tr>
    <h2><th>Hairstylist</th></h2>
    <th>Date</th>
    <th>Time</th>
  </tr>
  <% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.hair_stylist.business_name %></td>
    <td><%= booking.time_slot.date %></td>
    <td><%= booking.time_slot.start_time %></td>
  </tr>
  <% end %>

  
</table>
</div>
