.button-website {
  background-color: #7c5941;
  color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgb(173, 173, 173) 0px 0px 10px;
  text-decoration: none;
}

.button-website:hover {
  background-color: #fcf0dc;
  color: #7c5941;
}