.headline-font {
  font-family: Gabarito, sans-serif;
  font-optical-sizing: auto;
  font-weight: light;
  letter-spacing: 6px;
  background-color: #7c59410d;
  padding: 15px;
  border-radius: 10px;
  color:#7c5941;
}