// navbar css
.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 70px;
  text-decoration: underline;
}

.logo{
  border-radius: 50%;
  padding-left: 4px;
}
