.index_card_img {
  height: 350px;
  border-radius: 15px;
  padding: 10px;
}

#index_card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.index_card {
  margin: 20px;
  box-shadow: rgb(226, 226, 226) 3px 3px 5px;
  border-radius: 10px;
}

.index_card_title {
  text-align: left;
  a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding-left: 20px;
  }
}

.index_card_title:hover {
  color: grey;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 70px;
  text-decoration: underline;
}

.logo{
  border-radius: 50%;
  padding-left: 4px;
}
